In [1]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm
from yaml import safe_load

In [2]:
filenames = []
for file in os.listdir('D:\ML\ODI\data'):
    filenames.append(os.path.join('D:\ML\ODI\data',file))

In [3]:
filenames[:5]

['D:\\ML\\ODI\\data\\1000851.yaml',
 'D:\\ML\\ODI\\data\\1000853.yaml',
 'D:\\ML\\ODI\\data\\1000855.yaml',
 'D:\\ML\\ODI\\data\\1000881.yaml',
 'D:\\ML\\ODI\\data\\1000883.yaml']

In [7]:
df = []
counter = 1
for file in tqdm(filenames):
    with open(file,'r') as f:
        temp=pd.json_normalize(safe_load(f))
        temp['id'] = counter
        df.append(temp)
        counter+=1

100%|█████████████████████████████████████████████████████████████████████████████▉| 7470/7471 [58:29<00:00,  2.13it/s]

NotImplementedError:

In [9]:
final_df = pd.concat(df,ignore_index=True)

In [12]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.New Zealand,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.South Africa,info.supersubs.Pakistan,info.bowl_out,info.outcome.bowl_out,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2016-11-09,2,Perth,"[2016-11-03, 2016-11-04, 2016-11-05, 2016-11-0...",male,Test,177.0,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-11-16,2,Hobart,"[2016-11-12, 2016-11-13, 2016-11-14, 2016-11-15]",male,Test,80.0,South Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'South Africa', 'dec...",0.9,2016-12-05,1,NaN,"[2016-11-24, 2016-11-25, 2016-11-26, 2016-11-27]",male,Test,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-12-21,1,Brisbane,"[2016-12-15, 2016-12-16, 2016-12-17, 2016-12-1...",male,Test,39.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Pakistan', 'declare...",0.9,2016-12-31,1,NaN,"[2016-12-26, 2016-12-27, 2016-12-28, 2016-12-2...",male,Test,18.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2016-07-20,1,Belfast,[2016-07-17],male,ODI,79.0,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7466,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2016-07-20,1,Belfast,[2016-07-19],male,ODI,12.0,Ireland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7467,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2020-08-15,1,Ayr,"[2016-08-09, 2016-08-10, 2016-08-11, 2016-08-12]",male,MDM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7468,"[{'1st innings': {'team': 'Scotland', 'deliver...",0.9,2016-08-20,1,Edinburgh,[2016-08-14],male,ODI,98.0,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7469,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2016-08-20,1,Edinburgh,[2016-08-16],male,ODI,NaN,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
import pickle
pickle.dump(final_df,open('df','wb'))